
@font-face {
  font-family: 'SansSerifFLF-Demibold';
  src: url('SansSerifFLF-Demibold.eot?#iefix') format('embedded-opentype'),  url('SansSerifFLF-Demibold.woff') format('woff'), url('SansSerifFLF-Demibold.ttf')  format('truetype'), url('SansSerifFLF-Demibold.svg#SansSerifFLF-Demibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
