
@font-face {
  font-family: 'SansSerifBookFLF-Italic';
  src: url('SansSerifBookFLF-Italic.eot?#iefix') format('embedded-opentype'),  url('SansSerifBookFLF-Italic.woff') format('woff'), url('SansSerifBookFLF-Italic.ttf')  format('truetype'), url('SansSerifBookFLF-Italic.svg#SansSerifBookFLF-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
