
@font-face {
  font-family: 'WorkSans-Bold';
  src: url('WorkSans-Bold.eot?#iefix') format('embedded-opentype'),  url('WorkSans-Bold.woff') format('woff'), url('WorkSans-Bold.ttf')  format('truetype'), url('WorkSans-Bold.svg#WorkSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
