
@font-face {
  font-family: 'NeutraTextTF-Demi';
  src: url('NeutraTextTF-Demi.eot?#iefix') format('embedded-opentype'),  url('NeutraTextTF-Demi.woff') format('woff'), url('NeutraTextTF-Demi.ttf')  format('truetype'), url('NeutraTextTF-Demi.svg#NeutraTextTF-Demi') format('svg');
  font-weight: normal;
  font-style: normal;
}
