
@font-face {
  font-family: 'NeutraTextTF-Book';
  src: url('NeutraTextTF-Book.eot?#iefix') format('embedded-opentype'),  url('NeutraTextTF-Book.otf')  format('opentype'),
	     url('NeutraTextTF-Book.woff') format('woff'), url('NeutraTextTF-Book.ttf')  format('truetype'), url('NeutraTextTF-Book.svg#NeutraTextTF-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
