
@font-face {
  font-family: 'SansSerifBookFLF';
  src: url('SansSerifBookFLF.eot?#iefix') format('embedded-opentype'),  url('SansSerifBookFLF.woff') format('woff'), url('SansSerifBookFLF.ttf')  format('truetype'), url('SansSerifBookFLF.svg#SansSerifBookFLF') format('svg');
  font-weight: normal;
  font-style: normal;
}
