@font-face {
    font-family: 'BentonSansLight';
    src: url('fonts/BentonSansLight.eot');
    src: url('fonts/BentonSansLight.eot') format('embedded-opentype'),
         url('fonts/BentonSansLight.woff2') format('woff2'),
         url('fonts/BentonSansLight.woff') format('woff'),
         url('fonts/BentonSansLight.ttf') format('truetype'),
         url('fonts/BentonSansLight.svg#BentonSansLight') format('svg');
}
