
@font-face {
  font-family: 'WorkSans-SemiBold';
  src: url('WorkSans-SemiBold.eot?#iefix') format('embedded-opentype'),  url('WorkSans-SemiBold.woff') format('woff'), url('WorkSans-SemiBold.ttf')  format('truetype'), url('WorkSans-SemiBold.svg#WorkSans-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
